header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2.5rem;
    margin-top: 25px;
}

header nav {
    background-color: var(--bgheader);
    padding: 1rem 2rem;
    border-radius: 55px;
}

ul {
    list-style: none;
    display: flex;
    gap: 14px;
}

a {
    text-decoration: none;
    color: var(--title);
    font-weight: 500;
    opacity: 0.9;
    font-size: 0.9rem;
}

li>a:hover {
    color: var(--blue);
}

button {
    margin-right: 2rem;
}